#DivLateral{
position:absolute;
margin-left: 10px;
margin-right:1500px;
width:750px;
height: 1300px;
}
#CardTimeline{
position:relative;
float: left;
border-width:2px;
width:250px;
height: 160px;
}
#Calendario{
position:relative;
margin-left: 500px;
margin-right: 700px;
width:700px;
height: 1300px;
}
.fc-event {
    background-color: #f1f1f1 !important;
}

.fc-external-events .fc-event:first-child {
    margin-right: 15px !important ;
}

.fc-external-events .fc-event:last-child {
    margin-left: 15px !important ;
}

.fc-external-events {
    margin-top: 25px !important; 
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.input-datepicker {
    position: relative;
}

.edit-datepicker {
    position: absolute;
    top:6px;
    right: 2px;
    display: none;
}

